<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDyp7y7c1B5Wsr3BGE3FAy30rjAac3OZBc</string>
	<key>GCM_SENDER_ID</key>
	<string>874185747731</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hotelBooking.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>bolu-c9050</string>
	<key>STORAGE_BUCKET</key>
	<string>bolu-c9050.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:874185747731:ios:e0c01b3b135299e3f4bee6</string>
</dict>
</plist>